@import "main";

#main {
  .message {

    .body {
      font-family: $font-serif;
    }

    .sender {
      font-family: $font-handwriting;
    }
  }

  .message:nth-child(even) {

    .body {
      text-align: justify;
    }
  }

  .message:nth-child(odd) {
    text-align: right;
  }
}